* {
    box-sizing: border-box;
}

.home {
    padding: 20px 0 0 20px;
    align-items: center;
    color: white;
    width: calc(100% - 280px);
    height: 100%;
}

h1 {
    margin: 0;
}

#filesTable button{
    padding: 5px;
    color: white;
    background-color: green;
    border: 2px solid white;
    border-radius: 4px;
}

#filesTable button:hover{
    background-color: rgb(0, 73, 0);
}