* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #1f1d58;
}

.profile {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    overflow: auto;
    width: 100%
}

hr {
    border: none;
    height: 4px;
    background-color: white;
    margin: 20px 0;
}

h3 {
    margin: 0;
    padding: 10px;
}

td {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    width: 100%;
}

.profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
}

.profile-ktp {
    flex: 4;
}

.profile-detail {
    flex: 6;
    margin-left: 20px;
}